* {
    box-sizing: border-box;
    
    
    margin: 0;
    padding: 0;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
.navbar{
    height: 15%;
    width: 100%;
    background: #1d2a34;
    text-align: left;
}
.buttonz{
    color: #F0F9F9;
    background-color: #d44211;
    width: 69px;
    height: 25px;
    font-family: 'Leckerli-One';
}
.buttony{
    color: #F0F9F9;
    font-size: 20px;
    background-color: #d44211;
    width: 269px;
    height: 40px;
    font-family: 'Leckerli-One';
}
.inputzsmall{
    
    width: 85%;
    height: 25px;
}
.inputzhalf{
    width: 39.7%;
    height: 40px;
}
.inputzwhole{
    width: 80%;
    height: 40px;
}
input {
    background-color: #060606;
    color: #F0F9F9;
    margin-bottom: 10px;
  }
.sectionz{
    background-image: url("Assets/klee.png");
    height: 85%;
    width: 100%;
    top: 80px;
}
.birthdatez .yearz .monthz .dayz{
    color: #060606;
    background-color: #060606;
}
.headingz{
    color: #F0F9F9;
    font-size: 50;
    font-family: 'Seaweed-Script';
}
.subheadingz{
    color: #F0F9F9;
    font-size: 20;
    font-family: 'Seaweed-Script';
}
.subheadingy{
    color: #F0F9F9;
    font-size: 18;
    font-family: 'Seaweed-Script';
}
.bodyz{
    color: #F0F9F9;
    font-size: 15;
    font-family: 'Leckerli-One';
}
.bodyy{
    color: #6F94AE;
    font-size: 15;
    font-family: 'Leckerli-One';
}
.imagez{
    margin-top: 10px;
    margin-left: 5%;
}
.marleftten{
    margin-left: 20px;
}
.marlefttenmonsisad{
    margin-left: 20px;
    margin-top: 25%;
}
.headingklee{
    color: #d44211;
    font-family: 'Leckerli-One';
    font-size: 50;
}